<!-- <select [(ngModel)]="selectedMuscle">
    <option *ngFor="let muscle of muscles" [value]="muscle">{{muscle}}</option>
</select>

<button (click)="getExercises()">Get Exercises</button>
<div *ngFor="let exercise of exercises">
    <h1>{{exercise.name}}</h1>
    <p>Type: {{exercise.type}}</p>
    <p>Muscle: {{exercise.muscle}}</p>
    <p>Equipment: {{exercise.equipment}}</p>
    <p>Difficulty: {{exercise.difficulty}}</p>
</div> -->
<div class="muscle-icon" (click)="selectMuscle('biceps')">
    <img class="biceps-icon" src="assets/biceps.png" alt="Biceps">
    <div class="muscle-name">Biceps</div>
</div>

<div class="muscle-icon" (click)="selectMuscle('triceps')">
    <img class="triceps-icon" src="assets/triceps.png" alt="Triceps">
    <div class="muscle-name">Triceps</div>
</div>

<div class="muscle-icon" (click)="selectMuscle('quadriceps')">
    <img class="quadriceps-icon" src="assets/quadriceps.png" alt="Quadriceps">
    <div class="muscle-name">Quadriceps</div>
</div>

<div class="muscle-icon" (click)="selectMuscle('abdominals')">
    <img class="abdominals-icon" src="assets/les-abdominaux.png" alt="Abdominals">
    <div class="muscle-name">Abdominals</div>
</div>

<div class="muscle-icon" (click)="selectMuscle('calves')">
    <img class="calves-icon" src="assets/mollets.png" alt="Calves">
    <div class="muscle-name">Calves</div>
</div>

<div class="muscle-icon" (click)="selectMuscle('chest')">
    <img class="chest-icon" src="assets/pectoraux.png" alt="Chest">
    <div class="muscle-name">Chest</div>
</div>

<div class="muscle-icon" (click)="selectMuscle('glutes')">
    <img class="glutes-icon" src="assets/fesses.png" alt="Glutes">
    <div class="muscle-name">Glutes</div>
</div>

<div class="muscle-icon" (click)="selectMuscle('middle_back')">
    <img class="back-icon" src="assets/dos.png" alt="Back">
    <div class="muscle-name">Back</div>
</div>

<div *ngFor="let exercise of exercises">
        <h1>{{exercise.name}}</h1>
        <p>Type: {{exercise.type}}</p>
        <p>Muscle: {{exercise.muscle}}</p>
        <p>Equipment: {{exercise.equipment}}</p>
        <p>Difficulty: {{exercise.difficulty}}</p>
</div>