section {
    margin: 2vw;
}

span {
    display: inline-block;
}

.profilepicture {
    margin: 10px;
    width: 20vw;
    height: 20vw;
    max-width: 200px;
    max-height: 200px;
    background-color: gray;
    border-radius: 100vw;
}


.space-between {
    display: flex;
    justify-content: space-between;
}

.flex-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.full-width {
    width: 100%;
}

.droite {
    width: 45vw;
    min-width: 350px;
}
.gauche {
    width: 45vw;
    min-width: 350px;
}

input {
    width: 40%;
    min-width: 300px;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    outline: none;
    border: none;
    box-shadow: none;
}
input:disabled {
    background: none;
    border: none;
}
input:enabled {
    background-color: #fafafa;
    border: 3px solid #eeeeeee0;
    transition: border 0.4s ease;
}
input:focus {
    border: 3px solid #00ff95e0;
}

button[type="submit"] {
    width: 43%;
    min-width: 300px;
    border-radius: 10px;
    padding: 10px;
    margin-top: 20px;
    outline: none;
    border: none;
    box-shadow: none;
    background-color: #00ff95e0;
    font-weight: 700;
    font-size: 1em;
    color: #007e49e0;
    transition: background-color 0.5s ease, color 0.5s ease;
}
button[type="submit"]:hover {
    background-color: #007e49e0;
    color: #00ff95e0;
}

.displaynone {
    display: none;
}

#progress-bar {
    width: 100%;
    height: 25px;
    background-color: #f5f5f5e0;
    border-radius: 5px;
}

#progress-bar-active {
    height: 100%;
    background-color: #00ff95e0;
    border-radius: 5px;

    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 5px;
}

.seances {
    margin-top: 2vw;
}

.card {
    margin: 0.5vw;
}

.icon {
    width: 2vw;
    min-width: 25px;
    height: 2vw;
    min-height: 25px;
    margin-right: 15px;
    cursor: pointer;
}
