<section>
    <div class="firstLine space-between">
        <div><h1>Profile</h1></div>
        <div>
            <span><a href="/parametre"><button>Parametre</button></a></span>
            <span><button (click)="editForm()">Editer</button></span>
        </div>
    </div>
    <div class="midLine">
        <div class="full-width">
            <div class="profilepicture"></div>
            <h3>&#64;{{ data.user.username }}</h3>
            <br>
            <div class="space-between">
                <span class="droite">
                    <form [formGroup]="profileForm" (ngSubmit)="submitForm()">
                        <label>Nom</label><br>
                        <input type="text" formControlName="nom" [disabled]="!profileForm.enabled"><br>
                        <label>Prenom</label><br>
                        <input type="text" formControlName="prenom" [disabled]="!profileForm.enabled"><br>
                        <label>Âge</label><br>
                        <input type="number" formControlName="age" [disabled]="!profileForm.enabled"><br>
                        <label>Email</label><br>
                        <input type="email" formControlName="email" [disabled]="!profileForm.enabled"><br>
                        <label class="hide displaynone">New password</label><br>
                        <input class="hide displaynone" type="password" formControlName="newpassword" placeholder="**********" [disabled]="!profileForm.enabled"><br>
                        <button class="hide displaynone" type="submit" [disabled]="!profileForm.valid">Enregistrer</button>
                    </form>
                </span>
                <span class="gauche">
                    <div class="objectif">
                        <h1>Objectif</h1>
                        <br>
                        <div class="space-between">
                            <span>{{data.user.poidsDepart}}kg</span>
                            <span>{{data.user.objectif}}kg</span>
                        </div>
                        <div id="progress-bar">
                            <div id="progress-bar-active">{{data.user.poids}}kg</div>
                        </div>
                    </div>
                    <div class="seances" *ngFor="let seance of data.seances">
                        <span>
                            <!-- appeler le component de mise en forme des seances et passer les données seance en paramêtre -->
                        </span>
                    </div>
                </span>
            </div>
        </div>
    </div>
    <div class="lastLine">
        <!-- <div class="space-between"><p>dernière modification le /</p><p>création le /</p></div> -->
    </div>
</section>