section {
    margin: 10px;
}

span {
    display: inline-block;
}

.profilepicture {
    margin: 10px;
    width: 20vw;
    height: 20vw;
    max-width: 200px;
    max-height: 200px;
    background-color: gray;
    border-radius: 100vw;
}

.space-between {
    display: flex;
    justify-content: space-between;
}

.full-width {
    width: 100%;
}

.droite {
    width: 45vw;
    min-width: 300px;
}
.gauche {
    width: 45vw;
    min-width: 300px;
}

input {
    width: 40%;
    min-width: 300px;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    outline: none;
    border: none;
    box-shadow: none;
}
input:disabled {
    background: none;
    border: none;
}
input:enabled {
    background-color: #fafafa;
    border: 3px solid #eeeeeee0;
    transition: border 0.4s ease;
}
input:focus {
    border: 3px solid #00ff95e0;
}

button[type="submit"] {
    width: 43%;
    min-width: 300px;
    border-radius: 10px;
    padding: 10px;
    margin-top: 20px;
    outline: none;
    border: none;
    box-shadow: none;
    background-color: #00ff95e0;
    font-weight: 700;
    font-size: 1em;
    color: #007e49e0;
    transition: background-color 0.5s ease, color 0.5s ease;
}
button[type="submit"]:hover {
    background-color: #007e49e0;
    color: #00ff95e0;
}

.displaynone {
    display: none;
}

.progress-bar {

}

.progress-bar-active {
    width: calc((83 - 90) / (70 - 90) * 100%); // progress bar en fonction du poids --> calc((currentValue - minValue) / (maxValue - minValue) * 100%)
    height: 25px;
    background-color: #00ff95e0;
    border-radius: 5px;

    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 5px;
}