<body>
    <h1>Bienvenue sur MuscleEnFolie</h1>
    <div class="main_pres">
        <div class = "text_image">
            <div class = "text">
                Bienvenue sur notre site dédié à la musculation,
                où chaque séance est conçue pour vous aider à atteindre vos objectifs de forme physique,
                quel que soit votre niveau. Que vous soyez débutant cherchant à prendre confiance en vous et à découvrir les bases,
                ou un athlète confirmé désireux de pousser vos limites, notre plateforme est faite pour vous.
                Nos programmes sont élaborés par des experts en fitness qui combinent leurs connaissances approfondies et les dernières recherches scientifiques pour vous offrir des entraînements efficaces et sûrs.
            </div>
            <img src="../../assets/images/julesMuscles.png"/>
        </div>
        <div class = "image_text">
            <div class = "text">
                Notre site se distingue par son adaptabilité et sa personnalisation.
                En fonction de votre expérience, de vos objectifs et de votre disponibilité, 
                vous pouvez choisir parmi une variété de séances adaptées à vos besoins spécifiques. 
                Nous comprenons que chaque individu est unique, c'est pourquoi nous avons intégré des outils pour ajuster l'intensité, 
                la durée et le type d'exercice afin de créer un programme sur mesure. 
                Avec notre aide, vous pouvez progresser à votre rythme tout en restant motivé et en évitant les risques de blessure.
            </div>
            <img src="../../assets/images/salleDeSport.jpg" class = "image"/>
        </div>
        <div class = "text_image">
            <div class = "text">
                Nous savons combien il peut être difficile de rester motivé lorsque vous vous entraînez seul. 
                C'est pourquoi nous avons développé une communauté dynamique et encourageante. 
                Vous pouvez partager vos progrès, poser des questions et obtenir des conseils de la part de nos coachs professionnels et des autres membres. 
                Notre plateforme offre également des vidéos de démonstration détaillées pour chaque exercice, 
                afin que vous puissiez vous assurer que vous exécutez chaque mouvement correctement et efficacement.
            </div>
            <img src="../../assets/images/communauteMuscu.jpg"/>
        </div>
        <div class = "image_text">
            <div class = "text">
                En outre, nous avons mis en place un suivi de performance complet pour vous aider à mesurer vos progrès. 
                Vous pouvez enregistrer vos séances, suivre vos statistiques et voir votre évolution au fil du temps. 
                Cette fonctionnalité est essentielle pour maintenir votre motivation et ajuster votre programme en fonction de vos progrès. 
                Nous croyons fermement que la clé du succès en musculation réside dans la régularité et la progression mesurée, 
                et notre outil de suivi est conçu pour vous soutenir dans ce sens.
            </div>
            <img src="../../assets/images/progres.png" class="image"/>
        </div>
        <div class = "text_image">
            <div class = "text">
                Enfin, notre site propose une section dédiée à la nutrition, 
                essentielle pour compléter vos efforts en salle de sport. 
                Vous y trouverez des plans nutritionnels adaptés à vos objectifs, 
                que ce soit la prise de masse musculaire, la perte de poids ou le maintien d'une alimentation équilibrée. 
                En combinant une alimentation saine avec nos séances de musculation, 
                vous maximisez vos résultats et atteignez vos objectifs plus rapidement. 
                Rejoignez-nous dès aujourd'hui et transformez votre corps et votre vie avec des séances de musculation sur mesure et une communauté prête à vous soutenir à chaque étape.
            </div>
            <img src="../../assets/images/nutrition.png"/>
        </div>
    </div>
</body>
