.text_image {
    background-color: #1AE986;
    display: flex;
    align-items: center;
    gap: 20px;
    .text {
        width: 750px;
        padding: 25px;
        padding-left: 5%;
        text-indent: 30px;
    }
    .image {
        max-height: 500px;
    }
}

header {
    display: flex;
    justify-content: flex-end;
    button {
        background-color: #1AE986;
        color: white;
        border: none;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        transition-duration: 0.4s;
        cursor: pointer;
        &:hover {
            background-color: white;
            color: black;
        }
    }
}

.image_text {
    display: flex;
    align-items: center;
    gap: 20px;
    .image {
        order: 1;
    }
    .text {
        order: 2;
        width: 750px;
        text-indent: 30px;
    }
}

img {
    max-width: 750px;
    max-height: 750px;
}

.main_pres {
    margin: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px; // Ajustez cette valeur pour changer l'espacement
}

body {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 25px;
}